<o-form-layout-manager attr="PatrolIncident" mode="tab" title="PATROLINCIDENT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="PatrolIncidentTable" 
            service="PatrolIncident" 
            entity="PatrolIncident" 
            title="PATROLINCIDENT"
            keys="id"
            columns="description;patrol_id;id;date_reported" 
            header-actions="R;D"
            visible-columns="description;patrol_id;id;date_reported"  
            sort-columns="description" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #description attr="description" title=" description*" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="patrol_id" title="patrol_id">
    <o-table-cell-renderer-service attr="patrol_id" 
        service="RangerPatrol" entity="RangerPatrolType" columns="id;id"
        parent-keys="id:patrol_id"
        value-column="id" keys="patrol_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #date_reported attr="date_reported" title="date_reported" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>