<o-form-layout-manager attr="ResearchStudy" mode="tab" title="RESEARCHSTUDY">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ResearchStudyTable" 
            service="ResearchStudy" 
            entity="ResearchStudy" 
            title="RESEARCHSTUDY"
            keys="id"
            columns="id;title;focus_area;start_date;end_date;study_lead" 
            header-actions="R;D"
            visible-columns="id;title;focus_area;start_date;end_date;study_lead"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #title attr="title" title="title" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #focus_area attr="focus_area" title="focus_area" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-date-input #start_date attr="start_date" type="timestamp" label="start_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-date-input #end_date attr="end_date" type="timestamp" label="end_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #study_lead attr="study_lead" title="study_lead" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>